.UserList {
    text-align: center;
}

div {
    text-align: center;
}

#userlist {
    margin-bottom: 120px;
}

body { 
    padding:60px 0 0 0;
    background : url(
        "./ExarLabsLogo.png"
    );
    background-repeat: no-repeat;
    background-size: 200px 200px;

}

.bordered {
    border-style: solid;
    border-width: thin;
    padding: 0px;
    margin-bottom: 0px;
}

#addbutton {
    margin: 5px;
}

.inputbox {
    margin: 2px;
}
